@import '../abstract/variaveis';

.cabecalho {
    width: 100%;
    background-color:$font-color-yellow;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
   
}a,ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 5px;
    margin: 5px;
    color: $font-color;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    &:hover{
        color: black;
    }
}.logo{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    
}

@media (max-width:420px){
    .cabecalho{
        font-size: 10px;
    }
}


