@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

//font color 
$font-white:#fff;
$font-black:#000;
$font-google:'Open Sans', sans-serif;


//background
$background:rgb(59, 56, 56);