@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

// Font color
$font-color:#fff;
$font-google:'Open Sans', sans-serif;

//colors
$background:#fe8;
$backgroundrelogio: rgb(110, 173, 170);
$data-color:rgb(0, 0, 0);